.sf_extra9{background-image: url(/images/border_bot_adj.jpg); }
body{background-image: url(/images/background.jpg); }
.sf_extra5{background-image: none}
.sf_outer_wrapper{background-image: url(/images/border_middle_adj.jpg); }
.sf_extra1{background-image: url(/images/border_top.jpg); }
.sf_extra2{background-image: url(/images/logo_as_banner.jpg); }
.sf_header_wrapper{background-image: none}
